.ErrorPage_container__2lpOX {
    margin: 0 auto;
    padding: 60px 20px;
    min-width: 250px;
    max-width: 580px;
    text-align: center;
    line-height: 1.7em;
    color: #44484b;
    font-size: 15px
}

.ErrorPage_container__2lpOX .ErrorPage_icon__aQA82 {
    margin-bottom: 20px
}

.ErrorPage_container__2lpOX .ErrorPage_icon__aQA82>i {
    color: #ffb500;
    font-size: 80px
}

.ErrorPage_container__2lpOX h1 {
    line-height: 1em;
    font-size: 48px;
    font-weight: 300
}

.ErrorPage_container__2lpOX .ErrorPage_message__3QqKx {
    margin: 20px 0;
    word-break: keep-all
}

.ErrorPage_container__2lpOX .ErrorPage_copy__KsnaZ {
    margin-top: 48px;
    color: #90949c
}

.ErrorPage_container__2lpOX .ErrorPage_buttons__MKuuV>.wz.button {
    margin: 0 2px
}

@media screen and (max-width:610px) {
    .ErrorPage_container__2lpOX .ErrorPage_message__3QqKx {
        text-align: left
    }
}

@media screen and (max-width:375px) {
    .ErrorPage_container__2lpOX .ErrorPage_icon__aQA82>i {
        font-size: 64px
    }

    .ErrorPage_container__2lpOX h1 {
        font-size: 34px
    }
}

.FloatingTopButton_pageTop__16WiR {
    display: block;
    position: fixed;
    right: 16px;
    right: calc(16px + env(safe-area-inset-right));
    bottom: 20px;
    bottom: calc(20px + env(safe-area-inset-bottom));
    transition-property: width height transform border-color font-size border-radius opacity margin-bottom background;
    transition-duration: .25s;
    transition-delay: 0;
    opacity: 0;
    z-index: 1200;
    margin: 0;
    border: 1px solid #babdc0;
    border-radius: 50%;
    background: hsla(0, 0%, 100%, .8);
    cursor: pointer;
    padding: 0;
    width: 44px;
    height: 44px;
    color: #babdc0;
    font-size: 24px;
    box-sizing: border-box;
    pointer-events: none
}

.FloatingTopButton_pageTop__16WiR svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

@media screen and (min-width:1097px) {
    .FloatingTopButton_pageTop__16WiR {
        right: 16px;
        right: calc(16px + env(safe-area-inset-right));
        bottom: 40px;
        bottom: calc(40px + env(safe-area-inset-bottom));
        width: 60px;
        height: 60px;
        font-size: 32px
    }
}

.FloatingTopButton_pageTop__16WiR:focus,
.FloatingTopButton_pageTop__16WiR:hover {
    border-color: #90949c;
    color: #90949c
}

html.scroll-top.show-channel.add-actionbar .FloatingTopButton_pageTop__16WiR,
html.scroll-top.show-channel body.show-gnb .FloatingTopButton_pageTop__16WiR {
    transform: translateY(calc(-108px + env(safe-area-inset-bottom)))
}

@media screen and (min-width:1097px) {

    html.scroll-top.show-channel.add-actionbar .FloatingTopButton_pageTop__16WiR,
    html.scroll-top.show-channel body.show-gnb .FloatingTopButton_pageTop__16WiR {
        transform: translateY(calc(-128px + env(safe-area-inset-bottom)))
    }
}

html.scroll-top.show-channel.add-actionbar.scroll-apex .FloatingTopButton_pageTop__16WiR,
html.scroll-top.show-channel .FloatingTopButton_pageTop__16WiR,
html.scroll-top.show-channel.scroll-apex body.show-gnb .FloatingTopButton_pageTop__16WiR {
    transform: translateY(calc(-52px + env(safe-area-inset-bottom)))
}

@media screen and (min-width:1097px) {

    html.scroll-top.show-channel.add-actionbar.scroll-apex .FloatingTopButton_pageTop__16WiR,
    html.scroll-top.show-channel .FloatingTopButton_pageTop__16WiR,
    html.scroll-top.show-channel.scroll-apex body.show-gnb .FloatingTopButton_pageTop__16WiR {
        transform: translateY(calc(-72px + env(safe-area-inset-bottom)))
    }
}

html.scroll-top .FloatingTopButton_pageTop__16WiR {
    transform: translateY(env(safe-area-inset-bottom));
    opacity: 1;
    pointer-events: auto
}

@media screen and (min-width:1097px) {
    html.scroll-top .FloatingTopButton_pageTop__16WiR {
        transform: translateY(env(safe-area-inset-bottom))
    }
}

html.scroll-top.scroll-apex .FloatingTopButton_pageTop__16WiR {
    transform: translateY(env(safe-area-inset-bottom));
    opacity: 0;
    pointer-events: none
}

html.scroll-top.add-actionbar .FloatingTopButton_pageTop__16WiR,
html.scroll-top body.show-gnb .FloatingTopButton_pageTop__16WiR {
    transform: translateY(calc(-56px + env(safe-area-inset-bottom)))
}

@media screen and (min-width:1097px) {

    html.scroll-top.add-actionbar .FloatingTopButton_pageTop__16WiR,
    html.scroll-top body.show-gnb .FloatingTopButton_pageTop__16WiR {
        transform: translateY(env(safe-area-inset-bottom))
    }
}

html.scroll-top.add-actionbar.reward .FloatingTopButton_pageTop__16WiR {
    transform: translateY(calc(-62px + env(safe-area-inset-bottom)))
}

@media screen and (min-width:1097px) {
    html.scroll-top.add-actionbar.reward .FloatingTopButton_pageTop__16WiR {
        transform: translateY(env(safe-area-inset-bottom))
    }
}

html.scroll-top.add-actionbar.startup .FloatingTopButton_pageTop__16WiR {
    transform: translateY(calc(-108px + env(safe-area-inset-bottom)))
}

@media screen and (min-width:1097px) {
    html.scroll-top.add-actionbar.startup .FloatingTopButton_pageTop__16WiR {
        transform: translateY(calc(-128px + env(safe-area-inset-bottom)))
    }
}

html.scroll-top.show-channel.add-actionbar.startup .FloatingTopButton_pageTop__16WiR {
    transform: translateY(calc(-108px + env(safe-area-inset-bottom)))
}

@media screen and (min-width:1097px) {
    html.scroll-top.show-channel.add-actionbar.startup .FloatingTopButton_pageTop__16WiR {
        transform: translateY(calc(-128px + env(safe-area-inset-bottom)))
    }
}

html.scroll-top.add-actionbar.reward.space-banner .FloatingTopButton_pageTop__16WiR {
    transform: translateY(calc(-118px + env(safe-area-inset-bottom)))
}

@media screen and (min-width:1097px) {
    html.scroll-top.add-actionbar.reward.space-banner .FloatingTopButton_pageTop__16WiR {
        transform: translateY(env(safe-area-inset-bottom))
    }
}

html.scroll-top.add-actionbar.equityComingsoon .FloatingTopButton_pageTop__16WiR {
    transform: translateY(calc(-143px + env(safe-area-inset-bottom)))
}

html.show-footer .FloatingTopButton_pageTop__16WiR {
    transform: translateY(env(safe-area-inset-bottom));
    opacity: 0;
    pointer-events: none
}

.withIcon_icon__24D_5 {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    width: 1em;
    height: 1em;
    fill: currentColor
}

.withIcon_icon__24D_5.withIcon_inline__1BqP8 {
    display: inline
}

.withIcon_icon__24D_5.withIcon_flip__2aQD1 {
    transform: scaleX(-1)
}

.withIcon_icon__24D_5.withIcon_flipVertical__2py64 {
    transform: scaleY(-1)
}

@forward "strip-unit";
@forward "color";
@forward "em";
@forward "max";
@forward "min";

html #ch-plugin div[data-ch-testid=launcher],
html.show-footer.show-channel #ch-plugin div[data-ch-testid=launcher] {
    display: none !important
}

html.show-channel.scroll-apex.add-actionbar body #ch-plugin div[data-ch-testid=launcher] {
    transform: translateY(calc(-56px + env(safe-area-inset-bottom)))
}

@media screen and (min-width:1097px) {
    html.show-channel.scroll-apex.add-actionbar body #ch-plugin div[data-ch-testid=launcher] {
        transform: translateY(calc(-56px + env(safe-area-inset-bottom)))
    }
}

html.show-channel.scroll-apex body.show-gnb #ch-plugin div[data-ch-testid=launcher] {
    transform: translateY(calc(-56px + env(safe-area-inset-bottom)))
}

@media screen and (min-width:1097px) {
    html.show-channel.scroll-apex body.show-gnb #ch-plugin div[data-ch-testid=launcher] {
        transform: translateY(calc(-56px + env(safe-area-inset-bottom)))
    }
}

html.show-channel.scroll-apex #ch-plugin div[data-ch-testid=launcher] {
    transform: translateY(env(safe-area-inset-bottom))
}

@media screen and (min-width:1097px) {
    html.show-channel.scroll-apex #ch-plugin div[data-ch-testid=launcher] {
        transform: translateY(env(safe-area-inset-bottom))
    }
}

html.show-channel.add-actionbar.equityComingsoon body #ch-plugin div[data-ch-testid=launcher],
html.show-channel.add-actionbar.equityComingsoon body.mobile-webview #ch-plugin div[data-ch-testid=launcher] {
    transform: translateY(calc(-91px + env(safe-area-inset-bottom)))
}

html.show-channel.add-actionbar #ch-plugin div[data-ch-testid=launcher],
html.show-channel.add-actionbar body.mobile-webview #ch-plugin div[data-ch-testid=launcher] {
    transform: translateY(calc(-56px + env(safe-area-inset-bottom)))
}

@media screen and (min-width:1097px) {
    html.show-channel.add-actionbar #ch-plugin div[data-ch-testid=launcher] {
        transform: translateY(calc(-56px + env(safe-area-inset-bottom)))
    }
}

html.show-channel body.show-gnb #ch-plugin div[data-ch-testid=launcher],
html.show-channel body.show-gnb.mobile-webview #ch-plugin div[data-ch-testid=launcher] {
    transform: translateY(calc(-56px + env(safe-area-inset-bottom)))
}

@media screen and (min-width:1097px) {
    html.show-channel body.show-gnb #ch-plugin div[data-ch-testid=launcher] {
        transform: translateY(calc(-56px + env(safe-area-inset-bottom)))
    }
}

html.show-channel body .mobile-webview #ch-plugin div[data-ch-testid=launcher] {
    transform: translateY(env(safe-area-inset-bottom))
}

html.show-channel #ch-plugin div[data-ch-testid=launcher] {
    display: block !important;
    right: calc(16px + env(safe-area-inset-right)) !important;
    bottom: calc(20px + env(safe-area-inset-bottom)) !important;
    transform-origin: 100% 100%;
    z-index: 1000 !important
}

html.show-channel #ch-plugin div[data-ch-testid=launcher]>div {
    width: 44px !important;
    height: 44px !important
}

@media screen and (min-width:1097px) {
    html.show-channel #ch-plugin div[data-ch-testid=launcher]>div {
        width: 60px !important;
        height: 60px !important
    }
}

html.show-channel #ch-plugin div[data-ch-testid=launcher]>div>div {
    min-width: 20px !important;
    height: 20px !important
}

@media screen and (min-width:1097px) {
    html.show-channel #ch-plugin div[data-ch-testid=launcher]>div>div {
        min-width: 24px !important;
        height: 24px !important
    }
}

@media screen and (min-width:1097px) {
    html.show-channel #ch-plugin div[data-ch-testid=launcher] {
        right: calc(16px + env(safe-area-inset-right)) !important;
        bottom: calc(40px + env(safe-area-inset-bottom)) !important
    }
}