@font-face {
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 100;
    src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format("opentype")
}

@font-face {
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format("opentype")
}

@font-face {
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype")
}

@font-face {
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format("opentype")
}

@font-face {
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format("opentype")
}

@font-face {
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 900;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format("opentype")
}

a,
a:active,
a:focus,
a:hover {
    text-decoration: none;
    color: inherit
}

.pointer {
    cursor: pointer
}

body,
html {
    font-family: Noto Sans KR;
    height: 100%;
    margin: 0;
    padding: 0;
    letter-spacing: -.4px
}

#navbar {
    margin-bottom: 0
}

.alert {
    border-radius: 0
}

.container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto
}

.col,
.col-3,
.col-4,
.col-5,
.col-6,
.col-8,
.col-9,
.col-12,
.col-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
    position: relative;
    height: 100%;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0
}

.row {
    margin-right: 0;
    margin-left: 0
}

.footer {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-top: none
}

.panel {
    border: none
}

p {
    margin: 0
}

button {
    outline: none !important
}

.swiper-nav-btn {
    color: #000;
    border: none;
    background-color: #fff;
    font-size: 20px;
    display: none;
    width: 35px;
    padding: 0
}

.swiper-nav-btn img {
    width: 35px
}

.swiper-nav-btn:not(.carousel-button-prev, .carousel-button-next, .no-hover):hover img:first-child,
.swiper-nav-btn:not(.carousel-button-prev, .carousel-button-next, .no-hover) img:last-child {
    display: none
}

.swiper-nav-btn:not(.carousel-button-prev, .carousel-button-next, .no-hover):hover img:last-child {
    display: block
}

.swiper-nav-btn:after {
    display: none
}

.swiper-button-prev {
    left: -50px
}

.swiper-button-next {
    right: -50px
}

@media (min-width:576px) {
    .container {
        max-width: 100%;
        width: 100%
    }
}

@media (min-width:768px) {

    .swiper-button-next,
    .swiper-button-prev {
        display: inline
    }

    .container {
        max-width: 1200px;
        width: 100%
    }

    .swiper-container .blur {
        display: inline-block
    }
}

@media (min-width:992px) {
    .container {
        max-width: 1200px;
        width: 100%
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1200px;
        width: 100%
    }
}

.blur {
    display: none;
    position: absolute;
    width: 50px;
    background: linear-gradient(270deg, #fff, hsla(0, 0%, 100%, 0) 140%);
    z-index: 1000;
    pointer-events: none;
    top: 0;
    right: 0;
    height: calc(100% + 8px)
}

.main-banner-background {
    width: 100%;
    height: 368px;
    position: absolute;
    top: 89px;
    z-index: -1;
    background-size: cover;
    background-position: 50%
}

.main-banner {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 368px;
    padding: 246px 20px 40px
}

.main-banner p {
    line-height: 1;
    color: #000
}

.main-banner p:first-of-type {
    font-size: 24px;
    font-weight: 700
}

.main-banner p:nth-of-type(2) {
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px;
    line-height: 1.5
}

.create-socialing-button-container {
    padding: 32px 20px 0
}

.create-socialing-button-container .create-socialing-button {
    cursor: pointer;
    padding: 20px;
    width: 100%;
    height: 144px;
    border-radius: 8px;
    border: 1px solid #f4f4f4;
    background-color: #f4f4f4
}

.create-socialing-button-container .create-socialing-button .sub-heading {
    font-size: 14px;
    font-weight: 400;
    color: #383535
}

.create-socialing-button-container .create-socialing-button .heading {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    color: #080606;
    margin-top: 6px
}

.create-socialing-button-container .create-socialing-button>div {
    display: inline-block;
    float: left
}

.create-socialing-button-container .create-socialing-button>div:nth-of-type(2) {
    float: right;
    background-color: #fff;
    width: 58px;
    height: 58px;
    border-radius: 50px;
    font-size: 30px;
    text-align: center;
    line-height: 58px;
    margin-top: 22px
}

.socialings-container,
.week-socialing-container {
    position: relative;
    padding: 40px 0;
    display: inline-block;
    width: 100%
}

.socialings-container .heading,
.week-socialing-container .heading {
    padding-left: 20px;
    font-size: 18px;
    font-weight: 700
}

.socialings-container .sub-heading,
.week-socialing-container .sub-heading {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #999696;
    margin-top: 4px;
    padding-left: 20px
}

.socialings-container .swiper-container,
.week-socialing-container .swiper-container {
    margin-top: 16px;
    padding: 0 20px
}

.socialings-container .create-socialing-button,
.week-socialing-container .create-socialing-button {
    display: none
}

.socialings-wrapper {
    margin-top: 24px;
    display: inline-block;
    width: 100%;
    padding: 0 20px
}

@media (max-width:768px) {
    .main-banner {
        padding: 100px 0 0 20px;
        height: 320px
    }

    .main-banner p:first-child {
        font-size: 48px;
        font-weight: 700
    }

    .main-banner p:nth-child(2) {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5
    }

    .week-socialing-container {
        padding-top: 0 !important
    }
}

@media (min-width:768px) {
    .main-banner-background {
        height: 460px;
        top: 69px
    }

    .main-banner {
        margin: 0 auto;
        height: 520px;
        padding: 200px 20px 40px 0
    }

    .main-banner p:first-of-type {
        font-size: 60px
    }

    .main-banner p:nth-of-type(2) {
        margin-top: 22px;
        font-size: 20px;
        line-height: 1.6;
        font-weight: 700
    }

    .create-socialing-button-container {
        display: none
    }

    .socialings-container,
    .week-socialing-container {
        padding: 40px 0
    }

    .socialings-container .heading,
    .week-socialing-container .heading {
        padding-left: 0;
        font-size: 24px
    }

    .socialings-container .sub-heading,
    .week-socialing-container .sub-heading {
        padding-left: 0;
        font-size: 16px
    }

    .socialings-container .swiper-container,
    .week-socialing-container .swiper-container {
        margin-top: 24px;
        padding: 0
    }

    .week-socialing-container .create-socialing-button {
        height: 330px;
        border-radius: 16px;
        border: 1px solid #dbdbdb;
        background-color: #f4f4f4;
        text-align: center;
        padding: 54px;
        cursor: pointer;
        display: inline-block
    }

    .week-socialing-container .create-socialing-button .heading {
        font-size: 22px;
        font-weight: 700;
        line-height: normal;
        color: #383535
    }

    .week-socialing-container .create-socialing-button .sub-heading {
        margin-top: 12px;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        color: #383535
    }

    .week-socialing-container .create-socialing-button a>div:nth-of-type(3) {
        background-color: #fff;
        width: 58px;
        height: 58px;
        border-radius: 50px;
        font-size: 30px;
        text-align: center;
        line-height: 58px;
        margin: 40px auto 0
    }

    .socialings-wrapper {
        padding: 0
    }
}

/*# sourceMappingURL=/socialing.45f2f47c.css.map */