<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rl">
	<insert id="reg" parameterType="ReportRegVO">
		insert into rl(RL_NO, REPORTER, REPOTREASON) values(
			#{rlNo} , #{reporterNo},#{repotReason}
		)
	</insert>
	
	<update id="delete" parameterType="int">
		update rl set HIDDENYN='Y' where rl_no = #{rlNo}
	</update>
	<delete id="adminDelete" parameterType="int">
		delete from rl where rl_no = #{rlNo}
	</delete>
	<!-- 
	<select id="getRlList" parameterType="ReportRegVO">
		
	</select> -->
</mapper>