<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cmi">
	
	<!-- 사진 추가 -->
	<insert id="reg" parameterType="MiddleImgTableDTO">
		insert into cmi
		values(
			COMMUIMG_SEQ.nextval, #{imgNo}, #{connTableNo}
		)
	</insert>

	<!--삭제  -->
	<delete id="delete" parameterType="int">
		delete from cmi where commu_no = #{commuNo}
	</delete>
	<select id="find" parameterType="int">
		select * from cmi where cobuy_no = #{connTableNo} 
	</select>
</mapper>