<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mei">
	
	<!-- 사진 추가 -->
	<insert id="reg" parameterType="MiddleImgTableDTO">
		insert into mei
		values(
			mei_seq.nextval, #{imgNo}, #{connTableNo}
		)
	</insert>
	<!-- 삭제하기 -->
	<delete id="delete">
		delete from mei where member_no = #{memberNo}
	</delete>

</mapper>