<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mi">
	
	<!-- 등록 -->
	<insert id="reg" parameterType="MiddleImgTableDTO">
		insert into mi
		values(
			mi_seq.nextval, #{imgNo}, #{connTableNo}
		)
	</insert>
	<!-- 삭제하기 -->
	<delete id="deleteImage" parameterType="int">
		delete from mi where MILES_NO = #{milesNO}
	</delete>
	<select id="find" parameterType="int">
		select * from mi where cobuy_no = #{connTableNo} 
	</select>
</mapper>