<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="social">
	<!-- 승인 등록 -->
	
	<insert id="reg"  parameterType="SocialDTO">
		insert into SOCIAL(
			SOCIAL_NO ,MEMBER_NO ,MAP_NO ,SMALLTYPE ,TITLE,
			CONTEXT,STARTDATE,ENDDATE,MINPEOPLE,MAXPEOPLE
		) values(
			#{socialNo},#{memberNo},#{mapNo},#{smalltype},
			#{title},#{context},#{startDate},#{endDate},
			#{minpeople},#{maxpeople}
		)
	</insert>
	<delete id="denied" parameterType="int">
		delete from approve where member_no=#{memerNo} 
	</delete>
	<update id="approve"  parameterType="int">
		update member set APPROVE = 'Y' where member_no=#{memerNo}
	</update>
	
	<!-- 회원 목록 가져오기 -->
	<select id="memberList" resultType="SocialVO">
		select * from member m inner join msp where m.member_no = msp.member_no
	</select>
</mapper>