<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="social">
	<!-- 승인 등록 -->

	<insert id="reg" parameterType="SocialDTO">
		insert into SOCIAL(
			SOCIAL_NO ,MEMBER_NO ,MAP_NO ,SMALLTYPE ,TITLE,
			CONTEXT,STARTDATE,ENDDATE,MINPEOPLE,MAXPEOPLE
		) values(
			#{socialNo},#{memberNo},#{mapNo},#{smalltype},
			#{title},#{context},#{startDate},#{endDate},
			#{minpeople},#{maxpeople}
		)
	</insert>

	<!-- 상세정보 -->
	<select id="getDetail" parameterType="int" resultMap="socialDetail">
		select * from social s 
		    inner join map m on s.map_no = m.map_no
		    inner join 
            (select member_no , min(image_no) as hostImgNo
						from mei group by member_no) mei on	
            mei.member_no = s.member_no
		    inner join smc on s.smalltype = smc.SMALLTYPE  
		where S.SOCIAL_NO = #{social_no} and s.hiddenyn= 'N'
	</select>
	<!-- 참가자 목록 가져오기 -->
	<select id="getparticipate" parameterType="int" resultType="ParticipateVO">
		select m.member_No, m.nick, m.intro , mei.profileImgNo 
		    from SP  inner join member m on sp.member_no = m.member_no
			inner join 
         		(select member_no , min(image_no) as profileImgNo
					from mei group by member_no) mei on	
            		mei.member_no = sp.member_no
		where SOCIAL_NO = #{SOCIAL_NO}
	</select>

	<!-- 글의 이미지 목록 가져오기. -->
	<select id="getDetailimage" parameterType="int" resultType="ImageDTO">
		select * from SMI inner join image 
			img on smi.image_no = img.image_no
		where SOCIAL_NO = #{SOCIAL_NO}
	</select>
	<!-- Detail ResultMap -->
	<resultMap type="SocialDetailVO" id="socialDetail">
		<result column="SOCIAL_NO" property="socialNo" />
		<result column="TITLE" property="title" />
		<result column="BIGTYPE" property="type" />
		<result column="SMALLTYPE" property="smalltype" />
		<result column="STARTDATE" property="startDate" />
		<result column="ENDDATE" property="endDate" />
		<result column="CONTEXT" property="context" />
		<result column="hostImgNo" property="hostImgNo" />
		<result column="MINPEOPLE" property="minpeople" />
		<result column="MAXPEOPLE" property="maxpeople" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="ISJOINED" property="isJoined" />
		<result column="REGDATE" property="regdate" />
		
		<result column="MAP_NO" property="mapNo" />
		<result column="LAT" property="lat" />
		<result column="LNG" property="lng" />
		<result column="DETAILADDRESS" property="detailAddress" />
		
		<collection property="participate" javaType="java.util.List"
			ofType="ParticipateVO" select="getparticipate" column="social_no"/>
		<collection property="imageInfo" javaType="java.util.List"
			ofType="ImageDTO" select="getDetailimage" column="social_no"/>
	</resultMap>
	<!-- List ResultMap -->
	<resultMap type="SocialListVO" id="socialList">
		<result column="IMAGE_NO" property="imgNo" />
		<result column="SOCIAL_NO" property="socialNo" />
		<result column="BIGTYPE" property="type" />
		<result column="SMALLTYPE" property="smalltype" />
		<result column="TITLE" property="title" />
		<result column="STARTDATE" property="startDate" />
		<result column="ENDDATE" property="endDate" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="NICK" property="nick" />
		<result column="PROFILEIMGNO" property="profileImgNo" />
		<result column="DETAILADDRESS" property="detailAddress" />
	</resultMap>
	
	<select id="getList" parameterType="PaginationVO" resultMap="socialList">
		select * from (
			select rownum rn, TMP.* from (
				select
					s.social_no ,s.smalltype ,s.title,
					TO_CHAR(s.startdate, 'MM/DD HH24:mm') as startDate,
					TO_CHAR(s.enddate, 'MM/DD HH24:mm') as endDate,
					m.member_no,m.nick, mei.profileImgNo ,
					map.detailaddress , smc.bigtype
				from social s
					inner join member m on s.member_no=m.member_no
					inner join 
           				(select member_no , min(image_no) as profileImgNo
							from mei group by member_no) mei on	
            				mei.member_no = s.member_no
					inner join map on map.map_no = s.map_no
					inner join smc on s.smalltype = smc.SMALLTYPE
					inner join sbc on smc.bigtype = sbc.BIGTYPE
                    inner join 
                    (select social_no , min(image_no) image_no
						from smi group by social_no) smi on	
						s.social_no = smi.social_no where s.hiddenyn ='N'
			<choose>
				<when test="category !=null and !category.equals('')">
					and ${categoryType} = #{category} 
				</when>
				<when test="keyword != null and !keyword.equals('') and searchword != null and !searchword.equals('')">
					and #{keyword} = #{searchword}
				</when>
			</choose>
			<choose>
				<when test="endyn != null and endyn.equals('Y')">
					and  <![CDATA[ s.ENDDate < sysdate]]> 
				</when>
				<when test="endyn != null and endyn.equals('N')">
					and  <![CDATA[ s.ENDDate > sysdate]]> 
				</when>
			</choose>
			<if test="goo!=null and goo!=''">
				and instr(map.DETAILADDRESS ,#{goo} ) > 0 
			</if> 
				order by s.social_no desc
			)TMP
		) where rn between #{startRow} and #{endRow}
	</select>
	
	<select id="getMemberByList" parameterType="int" resultType="SocialListVO">
			                select s.title,
                				TO_CHAR(s.startdate, 'MM/DD HH24:mm') as startDate, 
                				TO_CHAR(s.enddate, 'MM/DD HH24:mm') as endDate ,smi.image_no
                  			 from social s 
                           		inner join sp p on s.social_no = p.social_no
                           		inner join smi on smi.social_no = s.social_no
                                 where s.hiddenyn ='N' and p.member_no = #{memberNo}
	</select>
	
	<select id="getCount" parameterType="int" resultType="SocialDTO">
		select * from social where member_no = #{memberNo} and regdate > sysdate-7
	</select>
	<select id="randomList" parameterType="PaginationVO" resultType="SocialListVO">
		select * from (
		    select rownum rn, TMP.* from (
		        SELECT * FROM social WHERE hiddenyn = 'N' ORDER BY DBMS_RANDOM.RANDOM
		    )TMP
		) where rn between #{startRow} and #{endRow}
	</select>
	<update id="modify" parameterType="SocialRegVO">
		update social set smalltype=#{smalltype}, title=#{title},context = #{context},
			startdate=#{startDate}, endDate=#{endDate},
			minpeople=#{minpeople}, maxpeople=#{maxpeople},moddate= sysdate 
		where social_no = #{socialNo} and member_no=#{memberNo}
	</update>
	<update id="delete" parameterType="int">
		update social set HIDDENYN='Y' where SOCIAL_NO = #{socialNo}
	</update>
	<select id="indexList" resultType="SocialIndexVO">
	select * from (
			select rownum rn, TMP.* from (
				select
					s.social_no ,s.smalltype ,s.title,
					TO_CHAR(s.startdate, 'MM/DD HH24:mm') as startDate,
					TO_CHAR(s.enddate, 'MM/DD HH24:mm') as endDate,
					m.member_no,m.nick, mei.profileImgNo ,
					map.detailaddress , smc.bigtype, smi.image_no
				from social s
					inner join member m on s.member_no=m.member_no
					inner join 
           				(select member_no , min(image_no) as profileImgNo
							from mei group by member_no) mei on	
            				mei.member_no = s.member_no
					inner join map on map.map_no = s.map_no
					inner join smc on s.smalltype = smc.SMALLTYPE
					inner join sbc on smc.bigtype = sbc.BIGTYPE
                    inner join 
                    (select social_no , min(image_no) image_no
						from smi group by social_no) smi on	
						s.social_no = smi.social_no where s.hiddenyn ='N'
						<choose>
				<when test="endyn != null and endyn.equals('Y')">
					and  <![CDATA[ s.ENDDate < sysdate]]> 
				</when>
				<when test="endyn != null and endyn.equals('N')">
					and  <![CDATA[ s.ENDDate > sysdate]]> 
				</when>
			</choose>
				ORDER BY DBMS_RANDOM.RANDOM
			)TMP
		) where rn between 1 and 3
	</select>
</mapper>