<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="socialmember">
	
	<!-- 참가 신청 -->
	<insert id="wantjoin" parameterType="Map">
		insert into sp values(#{socailNo},#{memberNo})
	</insert>
	<!-- 거절 & 강퇴 -->
	<delete id="kick" parameterType="map">
		delete from sp where member_no = #{memberNo} and social_No = #{socialNo}
	</delete>
	
</mapper>