<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="social">
	<!-- 승인 등록 -->
	<insert id="reg"  parameterType="SocialRegVO">
		insert into social values(
		#{socialNo},#{memberNo},#{mapNo},#{smallType}
		,#{title},#{context},#{startDate},#{endDate},
		'N',#{minpeople},#{maxpeople},sysdate,sysdate)
	</insert>
	<delete id="denied" parameterType="int">
		delete from approve where member_no=#{memerNo} 
	</delete>
	<update id="approve"  parameterType="int">
		update member set APPROVE = 'Y' where member_no=#{memerNo}
	</update>
	
	<!-- 회원 목록 가져오기 -->
	<select id="memberList" resultType="SocialVO">
		select * from member m inner join msp where m.member_no = msp.member_no
	</select>
</mapper>