<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cobuy">

	<!-- 글쓰기 -->
	<insert id="reg" parameterType="CobuyRegVO">
		insert into cobuy(
		COBUY_NO,
		MEMBER_NO, TITLE,
		PRICE,DESCRIPT, PNAME,DEADLINE ,MAP_NO ,MIDDLE_NAME ,STOCK
		)values(
		#{cobuyNo},
		#{memberNo},#{title},
		#{price},#{descript},#{pName},
		#{deadLine}
		,#{mapNo} ,#{middleName} ,#{stock}
		)
	</insert>
	<!-- 숨김 변경 -->
	<update id="hide" parameterType="Map">
		update cobuy set
		HIDDENYN = #{hiddenYN}
		where COBUY_NO = #{cobuyNo}
	</update>
	<update id="reduceStock" parameterType="Map">
		update cobuy set stock = stock - #{quantity} 
			where cobuy_no = #{quantity}
	</update>

	<resultMap type="CobuyDetailVO" id="customCobuy">
		<!-- 상품정보 -->
		<result column="cobuy_No" property="cobuyNo" />
		<result column="TITLE" property="title" />
		<result column="PRICE" property="price" />
		<result column="STOCK" property="stock" />
		<result column="HIT" property="hit" />
		<result column="PNAME" property="pName" />
		<result column="DEADLINE" property="deadLine" />
		<result column="DESCRIPT" property="descript" />

		<result column="MIDDLE_NAME" property="middleName" />
		<!-- 판매자 영역 -->
		<result column="MEMBER_NO" property="memberNo" />
		<result column="IMAGE_NO" property="memberImageNo" />
		<result column="EMAIL" property="email" />
		<result column="NICK" property="nick" />
		<result column="PHONE" property="phone" />
		<!-- 지도 영역 -->
		<result column="LAT" property="lat" />
		<result column="LNG" property="lng" />
		<result column="DETAILADDRESS" property="detailAddress" />
		<!-- 상품 이미지들 -->
		<collection property="imageList" javaType="java.util.List"
			ofType="Integer" select="DetailImgs" column="cobuy_no"></collection>
	</resultMap>
	<!-- 목록 조회 DB항목과 변수를 연결 -->
	<resultMap type="CobuyListVO" id="CobuyList">
		<result column="cobuy_No" property="cobuyNo" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="PNAME" property="pName" />
		<result column="NICK" property="nick" />
		<result column="TITLE" property="title" />
		<result column="PRICE" property="price" />
		<result column="STOCK" property="stock" />
		<result column="DEADLINE" property="deadLine" />
		<result column="IMAGE_NO" property="imgNo" />
	</resultMap>
	<!-- 목록에는 이미지가 1개만 있는데 -->
	<!-- 한 글에 사진이 4개가 들어가면 그 중에 하나만 뽑아야하는데 -->
	<!-- 목록 조회 구문 (메인) -->
	<select id="getList" resultType="CobuyListVO2">
	select * from (
    	select rownum rn, TMP.* from (
       		SELECT c.* , m.nick ,cbi.image_no FROM cobuy c 
       		left outer join (select cobuy_no, min(image_no) image_no
				from cbi group by
				cobuy_no) cbi on c.cobuy_no = cbi.cobuy_no
				inner join member m on 
					m.member_no = c.member_no
       		WHERE c.hiddenyn = 'N' ORDER BY DBMS_RANDOM.RANDOM
    	)TMP
	) where rn between 1 and 6
	</select>
	<select id="getList2" parameterType="PaginationVO" resultMap="CobuyList">
	select * from (
			select rownum rn, TMP.* from (
				select c.* , m.nick ,cbi.image_no
				from cobuy c
				left outer join (select cobuy_no, min(image_no) image_no
				from cbi group by
				cobuy_no) cbi on c.cobuy_no = cbi.cobuy_no
				inner join member m on 
					m.member_no = c.member_no
				inner join cmc on cmc.MIDDLE_NAME = c.MIDDLE_NAME
				inner join map on map.map_no = c.map_no
				where 
				<if test="category!=''">
					cmc.URLPATH = #{category} and
				</if>
				<if test="goo!=null and goo!=''">
					instr(map.DETAILADDRESS ,#{goo} ) > 0 and
				</if> 
				<if test="keyword!=null and keyword!=''">
					and instr( c.title ,#{keyword}) > 0 or 
					instr( c.descript ,#{keyword}) > 0 or
					instr( c.PNAME ,#{keyword}) > 0 or 
					instr( map.DETAILADDRESS ,#{keyword}) > 0 
				</if>
				c.hiddenyn = 'N' order by c.cobuy_no desc
			)TMP
		) where rn between ${startRow} and ${endRow}
	</select>
	<!-- 상세 조회 구문 (메인) 상품테이블 , 구매자 테이블, 회원테이블, 회원이미지 테이블,지도 -->
	<select id="getDetail" parameterType="int"
		resultMap="customCobuy">
		select * from cobuy c
		inner join member m on c.member_no = m.member_no
		inner join mei on mei.member_no = m.member_no
		inner join map m on m.map_no = c.map_no
		where cobuy_no = #{cobuyNo} and c.HIDDENYN = 'N' AND m.HIDDENYN='N'
	</select>
	<!-- 목록에서의 이미지 한개 -->
	<select id="oneImg" resultType="ImageDto" parameterType="int">
		select *
		from image where
		image_no in (select min(image_no) from cbi where
		cobuy_no = #{cobuyNo})
		order
		by image_no
	</select>
	<!-- 상세페이지에서의 이미지 여러개의 정보 -->
	<select id="DetailImgs" resultType="ImageDto"
		parameterType="int">
		select * from image where image_no
		in (select image_no
		from cbi where cobuy_no = #{cobuyNo})
		order by image_no
	</select>
	<update id="modify" parameterType="CobuyVO">
		update cobuy set TITLE=#{title},MIDDLE_NAME=#{middleName},
			PRICE = #{price}, STOCK = #{stock} ,PNAME= #{pName},
			DESCRIPT=#{descript}, DEADLINE =#{deadLine} 
		WHERE COBUY_NO = #{cobuyNo} AND MEMBER_NO =#{memberNo}
	</update>
	
	<select id="getforBuy" resultType="CobuyDTO"
		parameterType="ConfirmVO">
		select * from cobuy where COBUY_NO = #{productNo} and STOCK >= #{quantity}
	</select>
	
	<select id="getMiddleName" resultType="CobuyCatVO">
		select * from (
			select rownum rn, TMP.* from (
				select * from cobuy_menu
			)TMP
		) where rn between 1 and 10
	</select>
	
	<select id="getbuyList" parameterType="int" resultType="ProductBuyDTO">
		select * from pb where member_no = #{memberNo}
	</select>
	
	<select id="randomList" parameterType="PaginationVO" resultType="CobuyListVO">
		select * from (
		    select rownum rn, TMP.* from (
		        SELECT * FROM cobuy WHERE hiddenyn = 'N' ORDER BY DBMS_RANDOM.RANDOM
		    )TMP
		) where rn between ${startRow} and ${endRow}
	</select>
</mapper>