<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cobuy">

	<!-- 글쓰기 -->
	<insert id="reg" parameterType="cobuyDTO">
		insert into cobuy(
		COBUY_NO,
		MEMBER_NO, TITLE,
		PRICE,DESCRIPT, PNAME,DEADLINE
		)values(
		#{cobuyNo},
		#{memberNo},#{title},
		#{price},#{descript},#{pName}, #{deadLine}
		)
	</insert>
	<!-- 숨김 변경 -->
	<update id="hide" parameterType="Map">
		update cobuy set
		HIDDENYN = #{hiddenYN}
		where COBUY_NO = #{cobuyNo}
	</update>


	<resultMap type="CobuyDetailVO" id="customCobuy">
		<!-- DB항목과 변수를 연결 -->
		<result column="cobuy_No" property="cobuyNo" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="MIDDLE_NAME" property="middleName" />
		<result column="TITLE" property="title" />
		<result column="PRICE" property="price" />
		<result column="HIT" property="hit" />
		<result column="REGDATE" property="regDate" />
		<result column="DEADLINE" property="deadLine" />
		<result column="DESCRIPT" property="descript" />
		<result column="PNAME" property="pName" />

		<collection property="imageList" javaType="java.util.List"
			ofType="ImageDTO" select="DetailImgs" column="cobuy_no"></collection>
	</resultMap>
	<!-- 목록 조회  DB항목과 변수를 연결-->
	<resultMap type="CobuyListVO" id="CobuyList">
		<result column="cobuy_No" property="cobuyNo" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="PNAME" property="pName" />
		<result column="NICK" property="nick" />
		<result column="TITLE" property="title" />
		<result column="PRICE" property="price" />
		<result column="STOCK" property="stock" />
		<result column="DEADLINE" property="deadLine" />
		<result column="IMAGE_NO" property="imgNo" />
	</resultMap> 

	<!-- 목록 조회 구문 (메인) -->
	<select id="getList" resultMap="CobuyList">
		select c.* , m.nick from cobuy c
			inner join member m
				on c.member_no = m.member_no
		where c.HIDDENYN = 'N' and m.HIDDENYN ='N'
        	order by deadline desc
	</select>
	<!-- 상세 조회 구문 (메인) -->
	<select id="getDetail" parameterType="int"
		resultMap="customCobuy">
		select c.* , m.nick from cobuy c inner join member m
		on c.member_no = m.member_no
		where cobuy_no = #{cobuyNo} and c.HIDDENYN = 'N'
	</select>
	<!-- 목록에서의 이미지 한개 -->
	<select id="oneImg" resultType="ImageDto" parameterType="int">
		select * from image where 
			image_no in (select min(image_no) from cbi where cobuy_no = #{cobuyNo})
		order by image_no
	</select>
	<!-- 상세페이지에서의 이미지 여러개 -->
	<select id="DetailImgs" resultType="ImageDto" parameterType="int">
		select * from image where image_no 
			in (select image_no from cbi where cobuy_no = #{cobuyNo})
		order by image_no
	</select>
</mapper>




