<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="image">
	
	<!--등록 -->
	<insert id="reg" parameterType="imageDTO">
		insert into image values(
			#{imageNo}, #{uploadName}, #{saveName},
			#{fileSize}, #{fileType}
		)
	</insert>
	
	<!--삭제  -->
	<delete id="delete" parameterType="int">
		delete image where image_no = #{imageNo}
	</delete>
	
	<!--단일조회 -->
	<select id="get" parameterType="int" resultType="imageDTO">
		select * from image where image_no = #{imageNo}
	</select>
	
	<select id="listByBoardNo" parameterType="int" resultType="imageVO">
		select 
			co.commu_no,cmi.cmi_no, img.* 
		from image img
			left join cmi cmi on cmi.image_no = img.image_no
			left join commu co on co.commu_no = cmi.commu_no
		where
			co.commu_no = #{commuNo}
	</select>
</mapper>