<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="map">
	<!-- 등록하기 -->
	<insert id="regMap" parameterType="MapDTO">
		insert into map(MAP_NO,LAT,LNG,DETAILADDRESS) values(
			#{mapNo}, #{lat}, #{lng}, #{detailAddress}
		)
	</insert>
	
	<!-- 단일조회 -->
	<select id="getMap" parameterType="int" resultType="mapDTO">
		select * from map where map_no = #{mapNo}
	</select>
	<update id="modify" parameterType="MapDTO">
		UPDATE MAP SET LAT=#{lat},LNG=#{lng},DETAILADDRESS=#{detailAddress}  
			WHERE MAP_NO=#{mapNo} 
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM MAP WHERE MAP_NO=#{mapNo}
	</delete>
</mapper>