<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	
	<!-- 단일조회(로그인) -->
	<select id="get" parameterType="MemberDTO" resultType="MemberDTO">
		select * from member where email = #{email}
	</select>
	
	<!-- 단일조회(스트링) -->
	<select id = "get2" parameterType="String" resultType="MemberDTO">
		select * from member where email = #{email}
	</select>
	
	<!-- 회원가입 -->
	<insert id="join" parameterType="MemberJoinVO">
		insert into member(
			member_no, email, pw, nick,
			phone,birth, mbti, intro, gender
		) values(
			#{memberNo}, #{email}, #{pw}, #{nick}, 
			#{phone}, #{birth}, #{mbti},#{intro},#{gender}
		)
	</insert>
	
	<!-- 회원탈퇴(상태변경) -->
	<update id="quit" parameterType="String">
		update member set approve = 
		'N' where email = #{email}
	</update>

	<!-- 아이디찾기 -->
	<select id="findId" parameterType="map" resultType="MemberDTO">
		select * from member where nick = #{nick} and phone = #{phone}
	</select>
	
	<!-- 이메일 인증 -->
	<select id="memberNoByEmail" parameterType="String" resultType="int">
		select member_no from member where email = #{email}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="changePw" parameterType="map">
		update member set pw = #{changePw}
		where email = #{email}
	</update>
	
	<!-- 닉네임 가져오기 -->
	<select id="getNick" parameterType="int" resultType="String">
		select nick from member where member_no = #{memberNo}
	</select>
	
	<!-- 회원 목록 -->
	<select id="list" resultType="MemberDTO">
		select * from member
	</select>
	
	<!-- 회원정보 가져오기 -->
	<select id="getProfile" parameterType="int" resultType="MemberDTO">
		select * from member where member_no = #{memberNo}
	</select>
	
	<!-- 닉네임 중복 검사 -->
	<select id="getCheckNick" parameterType="String" resultType="MemberDTO">
		select * from member where nick = #{nick}
	</select>
	
	<!-- 전화번호 중복체크 -->
	<select id="getCheckPhone" parameterType="String" resultType="MemberDTO">
		select * from member where phone = #{phone}
	</select>
	
	<update id="changeInformation" parameterType="MemberDTO">
		update member
		<!-- set을 이용하여 수정항목을 동적으로 배치(단 마지막 콤마는 반드시 작성) -->
		<set>
			<if test="nick != null">
				nick = #{nick},
			</if>
			<if test="phone != null">
				phone = #{phone},
			</if>
			<if test="birth != '' ">
				birth = to_date(#{birth}, 'YYYY-MM-DD'),
			</if>
			<if test="mbti != null">
				mbti = #{mbti},
			</if>
			<if test="intro != '' ">
				intro = #{intro},
			</if>
		</set>
		where member_no = #{memberNo}
	</update>
	
	
	 
	<!-- 회원정보 불러오기(사진 포함) -->
	<select id="imageProfile" parameterType="int" resultType="imageDTO">
		select * from mei where member_no = #{memberNo}
	</select>
	
	<!-- 회원정보 불러오기 -->
	<select id="getMember" parameterType="int" resultMap="getProfile">
		select * from member where member_no = #{memberNo}
	</select>
	
	<resultMap type="MemberVO" id="getProfile">
		<!-- 회원정보 -->
		<result column="member_no" property="memberNo" />
		<result column="email" property="email" />
		<result column="pw" property="pw" />
		<result column="nick" property="nick" />
		<result column="phone" property="phone" />
		<result column="gender" property="gender" />
		<result column="birth" property="birth" />
		<result column="grade" property="grade" />
		<result column="joindate" property="joinDate" />
		<result column="mbti" property="mbti" />
		<result column="intro" property="intro" />
		<result column="nickModi" property="nickModi" />
		<result column="hiddenyn" property="hiddenYN" />
		<result column="exitdate" property="exitDate" />
		<!-- 회원 이미지들 -->
		<collection property="imageList" javaType="java.util.List"
			ofType="ImageDTO" select="imageProfile" column="member_no"></collection>
	</resultMap>
	
	<select id="getNickModi" parameterType="int" resultType="int">
		select count(*) from member me
			left outer join msb msb on me.member_no = msb.member_no
			left outer join msp msp on msb.msp_no = msp.msp_no
			left outer join ad ad on msp.msp_no = ad.msp_no
		where me.nickmodi+nvl(ad.nmodtime, 30) > sysdate and me.member_no = #{memberNo}
	</select>
 
</mapper>