<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="membership">
	<!-- 멤버십 상품 목록(혜택포함) -->
	<select id="membershipList" resultType="MembershipListVO">
		select * from msp m inner join ad a on a.msp_no = m.msp_no
	</select>
	
	<!-- 결제 상품 확인(단일 조회) -->
	<select id="get" parameterType="int" resultType="MembershipDTO">
		select * from msp where msp_no = #{mspNo}
	</select>
		
	<!-- 멤버십 가입 -->
	<insert id="join" parameterType="membershipBuyDTO">
		insert into msb (
			msb_no, member_no ,msp_no, sid, total_amount, partner_user_id,
			buy_time, buy_endtime, status, item_name, hiddenyn
			)
			values(
			#{msbNo},#{memberNo},#{mspNo},#{sid},#{totalAmount}, #{partnerUserId},
			sysdate, sysdate+31, '결제완료', #{itemName}, 'Y'
			)
	</insert>
		
	<!-- 결제일 비교하기-->
	<select id="dayCheck" resultType="MembershipBuyDTO">
	<![CDATA[
		select  * from msb where buy_endtime <= sysdate and status = '결제완료' and hiddenyn = 'y'
		 ]]>
	</select>
	
	<!--정기결제 전체 목록 -->
	<select id="msbList">
		select * from msb
	</select>
	
	<!-- 회원의 멤버십 혜택을 불러온다. -->
	<select id="membershipForMember" parameterType="int" resultType="AdDTO">
		select ad.* from member me
			inner join msb msb on me.member_no = msb.member_no
			inner join msp msp on msb.msp_no = msp.msp_no
			inner join ad ad on msp.msp_no = ad.msp_no
		where me.member_no = #{memberNo} and 
			msp.msp_no = (select max(msp_no) from msb 
				where member_no = #{memberNo} group by member_no)
	
	</select>
	
	<!-- 내가 가입한 멤버십  -->
	<select id="joinMembership" parameterType="int" resultType="MembershipBuyDTO">
		select * from msb msb inner join msp on msb.msp_no = msp.msp_no where msb.member_no = #{memberNo}
	</select>	
	
	<!-- 정기결제 해지 -->
		<update id="regularPayDelete" parameterType="String">
			 update msb set hiddenyn = 'N' where sid = #{sid}
		</update>
		
	<!-- 기본 멤버십 가입 -->
		<insert id="join2" parameterType="int">
			  insert into msb(msb_no, member_no ,msp_no, hiddenyn)
           	 values(msb_seq.nextval, #{memNo}, 1 , 'N');
		</insert>	
</mapper>