<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
	<select id="list" resultType="com.board.domain.BoardDTO">
		<!-- 공지리스트 -->
	 	select 
 			nt_no, title, cont
		from 
 			notice
	</select>

</mapper>