<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
	<select id="list" resultType="NoticeDTO">
	<!-- 공지리스트 -->
	 	select 
 			nt_no, title, cont, nt_writer, postdate
		from 
 			notice
	</select>
	
	<!-- 작성글마지막번호 -->
	<select id="maxSeq" resultType="java.lang.Integer">
	select max(SEQ) from board
	</select>
	
	<!-- 등록시전송하는데이터 -->
	<insert id="write">
	 	INSERT INTO 
	 	BOARD(
	 		nt_no,
	 		title,
	 		cont,
	 		nt_writer,
	 		postdate

	 	) 
	 	VALUES(
	 		#{nt_no},
	 		#{title},
	 		#{cont},
	 		#{nt_writer},
	 		#{postdate},


	 	) 
	</insert>
	
	<select id="view" resultType="com.board.domain.BoardDTO">
	 	SELECT 
 			SEQ,
 			SUBJECT,
 			CONTENT,
 			NAME,
 			REG_DATE,
 			READCOUNT
		FROM
 			BOARD
 		WHERE
 			SEQ = #{seq}
	</select>
	
	<update id="updateReadCount">
		UPDATE BOARD
		SET 
			READCOUNT = READCOUNT + 1
		WHERE
			SEQ = #{seq}	 
	</update>
	
	<update id="update">
		UPDATE BOARD
		SET
			SUBJECT = #{subject},
			CONTENT = #{content}
		WHERE
			SEQ = #{seq}
	</update>
	<delete id="delete">
		DELETE FROM BOARD
		WHERE 
			SEQ = #{seq}
	</delete>
</mapper>

