<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
	<insert id="insert">
		insert into pb values(
			#{pbNo}, #{memberNo}, #{productNo},#{tid},#{itemName}, #{totalAmount}, sysdate, '결제완료'
		)
	</insert>
	<select id="get" parameterType="map" resultType="ProductBuyDTO">
		select * from pb where pb_no = #{pbNo} and product_no = #{productNo}
	</select>
	
	<update id="cancel" parameterType="map">
		update pb set status='결제취소' where pb_no = #{pbNo} and product_no = #{productNo}
	</update>
</mapper>